<nz-header>
  <div class="header d-flex justify-between w-100">
    <div class="logo">SM@localhost</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item><a routerLinkActive="active-link" [routerLink]="'/dashboard'">Dashboard</a></li>
      <li nz-menu-item><a routerLinkActive="active-link" class="text-nowrap" [routerLink]="'/add-new-post'">Add new post</a></li>
      <li nz-menu-item><a routerLinkActive="active-link" [routerLink]="'/posts'">Posts</a></li>
    </ul>
  </div>
</nz-header>
