<div class="d-flex-col align-center h-scr">
  <h3 class="title">Log in to Social Media Analyzer</h3>

  <form nz-form [formGroup]="loginForm" class="d-flex-col justify-center align-center auth-form">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="email" type="email" id="email">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password">Password</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="password" type="password" id="password">
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" (click)="login()">Log in</button>
    <p>Don't have an account? <a [routerLink]="'../' + [urls.REGISTER]">register here</a></p>
  </form>
</div>
