<div class="w-100 post-details d-flex justify-center">
  <div *ngIf="post?.content; else noPost" class="d-flex justify-around flex-column align-center w-100">
    <h3 class="details-title" *ngIf="!preview">Post details</h3>
    <div class="card-container justify-center d-flex align-center flex-column w-100">
      <div class="top-menu d-flex justify-between w-100" *ngIf="!preview">
        <a class="d-blue button d-flex align-center justify-center" nz-button nzType="primary" [href]="post.url"
          target="_blank">
          Visit post
          <i nz-icon nzType="eye" nzTheme="fill"></i>
        </a>
        <button class="d-blue  d-flex align-center justify-center" nz-button nzType="primary" (click)="manage()">
          Manage post
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </button>
      </div>
      <div class="card d-flex justify-center flex-column align-center w-100">
        <div class="badge-container d-flex justify-between w-100" *ngIf="!preview">
          <div>
            <div *ngIf="post.likes > 50" class="badge d-flex align-center justify-center l-blue">
              <span>Top post</span>
            </div>
          </div>
          <div class="badge d-flex align-center justify-center l-blue">Reactions: {{post.reactions}}</div>
        </div>
        <p class="content">{{post.content}}</p>
        <img class="image" src="{{post.mediaFile}}">
        <div class="d-flex icons card-bottom w-100">
          <div class="d-flex align-center">
            <i nz-icon nzType="like" nzTheme="fill"></i>
            <p>{{post.likes}}</p>
          </div>
          <div class="d-flex align-center">
            <i nz-icon nzType="message" nzTheme="fill"></i>
            <p>{{post.comments}}</p>
          </div>
          <div class="d-flex align-center">
            <i nz-icon nzType="share-alt" nzTheme="outline"></i>
            <p>{{post.shares}}</p>
          </div>
        </div>
      </div>

      <div class="menu d-flex justify-around w-100" *ngIf="!preview">
        <button class="red" nz-button nzType="primary" (click)="move()">
          Previous post
        </button>
        <button class="red" nz-button nzType="primary" (click)="move(true)">
          Next post
        </button>
      </div>
    </div>
  </div>
  <ng-template #noPost>

  </ng-template>
</div>
