:host {
  width: 50%;
}

.icons {
  width: 50%;
  p {
    margin: 0 3px;
    font-weight: bold;
  }
}

.post-details {
  padding: 0 100px;
  height: 85vh;
}

.card {
  padding-top: 20px;
  box-shadow: 6px 5px 12px -6px #000000;
  border-radius: 0;
  .content,
  .image {
    padding: 0 20px;
  }

  .image {
    max-width: 600px;
    max-height: 300px;
    margin-bottom: 20px;
  }

  i {
    color: #00517c;
  }

  .badge {
    width: 150px;
    height: 35px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0 20px 20px;
  }
}

.card-bottom {
  border-top: 1px solid #e9eaea;
  justify-content: space-around;
  padding: 10px 50px;
}

.card-container {
  height: 70vh;
}

.menu {
  padding: 0 150px;
  margin-top: 25px;

}

.details-title {
  font-size: 30px;
}

button, .button {
  width: 120px;
}
