:host {
  width: 50%;
}

.icons{
  width: 50%;
  p {
    margin: 0 3px;
    font-weight: bold;
  }
}

.post-details {
  padding: 0 100px;
}

.card {
  padding-top: 25px;
  box-shadow: 6px 5px 12px -6px #000000;
  .content, .image {
    padding: 0 25px;
  }

  .image {
    max-width: 600px;
  }

  i {
    color: #00517c;
  }

  .badge{
    width: 150px;
    height: 35px;
    background-color: #6d1a36;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-right: 25px;
    margin-bottom: 20px;
  }
}

.card-bottom {
  border: 1px solid #e9eaea;
  justify-content: space-around;
  padding: 10px 50px;
}

.card-container {
  height: 70vh;
}


.menu {
  padding: 0 150px;
  margin-top: 25px;

  button {
    width: 115px;
  }
}
