<nz-layout class="layout">
  <nz-content *ngIf="loaded">
    <div class="inner-content h-100">
      <div class="d-flex align-items-baseline">
        <h2 nz-typography>{{ page.name }}</h2>
        <p class="ml-4">Resume for the last week</p>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="Interactions">
            <b>{{ page.interactions }} Interactions</b>
            <p># of people that interacted with the posts</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="Page Actions">
            <b>{{ page.pageActions }} Actions</b>
            <p># of actions resulting from ads</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Likes">
            <b>{{ page.newLikes }} New Likes</b>
            <p># of new page likes for the current week</p>
          </nz-card>
        </div>
      </div>

      <div class="mt-4" nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New followers">
            <b>{{ page.newFollowers }} New Followers</b>
            <p># of new page followers for the current week</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Views">
            <b>{{ page.pageViews }} Views</b>
            <p># of new unique page view</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Impact">
            <b>{{ page.impact }} Impact</b>
            <p># of people reached</p>
          </nz-card>
        </div>
      </div>

      <div class="my-5" nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24" class="text-center">
          <h3 nz-typography>Posts Interactions (last 10 weeks)</h3>
          <canvas baseChart width="700" height="175"
            [datasets]="lineChartData"
            [chartType]="'line'"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [options]="lineChartOptions"
          ></canvas>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
