nz-card {
  width: 80%;
}

.diagram-title {
  color: #00517c;
  margin: 0;
  margin-top: 15px;
}

.layout, .inner-content, nz-content {
  overflow: hidden;
}

.headline {
  color: #00517c;
  font-weight: bold;
}
