<nz-layout class="layout">
  <nz-content *ngIf="loaded">
    <div class="inner-content h-100">
      <div class="d-flex align-items-baseline">
        <h2 nz-typography>{{ page.name }}</h2>
        <h3 nz-typography class="ml-4 headline">Here are the updates of last week</h3>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="Interactions">
            <b>{{ page.interactions }} Interactions</b> - <span># of people that interacted with the posts</span>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="Page Actions">
            <b>{{ page.pageActions }} Actions</b> - <span># of actions performed by visitors</span>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Likes">
            <b>{{ page.newLikes }} New Likes</b> - <span># of new page likes from the current week</span>
          </nz-card>
        </div>
      </div>

      <div class="mt-4" nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New followers">
            <b>{{ page.newFollowers }} New Followers</b> - <span># of new followers for the current week</span>
            <p></p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Views">
            <b>{{ page.pageViews }} Views</b> - <span># of new unique page views</span>
            <p></p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card nzTitle="New Impact">
            <b>{{ page.impact }} Impact</b> - <span># of people reached</span>
          </nz-card>
        </div>
      </div>

      <h3 nz-typography class="diagram-title"><b> Posts Interactions (last 10 weeks)</b></h3>
      <div class="my-1" nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <canvas baseChart width="700" height="175"
            [datasets]="lineChartData"
            [chartType]="'line'"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [options]="lineChartOptions"
          ></canvas>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
