/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none !important;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-around {
  justify-content: space-around !important;
}

.align-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-scr {
  height: 100vh;
}

.title {
  font-size: 35px !important;
  margin-top: 50px !important;
}

.auth-form {
  margin-top: 100px;
  width: 25%;
  min-width: 350px;

  a {
    color: #00517c;
  }
}

button, .button {
  border: none !important;
  margin-bottom: 20px;
  padding: 0;
}
.l-blue:hover, .l-blue:focus, .d-blue:hover, .d-blue:active {
  background-color: #00517c !important;
}

.ant-form-item {
  width: 100%;
  input {
    width: 100%;
    height: 30px;
    border: 1px solid #001529;
    border-radius: 3px;
  }

  textarea {
    width: 100%;
    height: 30px;
    border: 1px solid #001529;
    border-radius: 3px;
  }

  label {
    font-size: 16px;
  }
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.container {
  max-width: 100% !important;
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001529;
}

.red {
  background-color: #6d1a36 !important;
}

.red:hover, .red:active {
  background-color: #6d1a36 !important;
}

.d-blue {
  background-color: #001529 !important;
}

.l-blue {
  background-color: #00517c !important;
}

.active {
  color: white !important;
}

.ant-card-head {
  background-color: #f0f2f5;
  height: 30px;
  display: flex;
  align-items: center;
}
