.post-button {
  width: 115px;
}

.post-preview{
  height: 60vh;
  margin-top: 135px;
}

form {
  width: 100%;
  input {
    width: 100%;
  }
}

.heading {
  font-weight: bold;
  font-size: 18px;
  color: #001529;
}

.w-85 {
  height: 88vh;
}

